/* GRID AREA PAGE STYLING */

/* MEDIA QUERIES */

/* sticky header on desktop */

@media (min-width: 851px) {
  header {
    position: sticky;
    top: 0;
  }
}

/* tablet styling */

@media (max-width: 930px) {
  header {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    display: block;
    text-align: flex-start;
  }

  .page-title {
    padding: 0.5rem;
    line-height: 150%;
  }
}

/* mobile styling */

@media (max-width: 620px) {
  header {
    justify-content: center;
  }

  nav a {
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    color: var(--whiteish);
    background-color: var(--orange);
  }

  nav a:hover {
    color: var(--whiteish);
  }

  nav a:first-child {
    background-color: var(--hotpink);
  }
  nav a:nth-child(2) {
    background-color: var(--yellow);
  }
}
