/* MOSAIC GRID STYLING */

main h2 {
  text-align: center;
}

.grid_wrapper {
  width: 70%;
  display: grid;
  margin: 0 auto;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}

figure {
  border: 3px solid black;
  border-radius: 5px;
  margin: 0 0 0.5rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}

figcaption {
  background-color: var(--logo_orange);
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

/* TODO fix figcaption background height */

figcaption a {
  display: block;
  margin-left: 1rem;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--whiteish);
}

figcaption a:hover {
  color: var(--transblack);
}

figcaption h3 {
  padding: 0.5rem;
}

figure img {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.span2 {
  grid-column: span 2;
}

.span3 {
  grid-column: span 3;
}

/* GRID AREA PAGE STYLING */

.grid-area-img {
  height: 100%;
  object-fit: cover;
}

/* Media Queries */

/* tablet styling */

@media (max-width: 930px) {
  header {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  nav a {
    display: block;
    text-align: flex-start;
  }

  .page-title {
    padding: 0.5rem;
    line-height: 150%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 2rem;
  }

  .featured-activities__blog-post {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
}

/* mobile styling */

@media (max-width: 620px) {
  header {
    justify-content: center;
  }

  nav a {
    text-align: center;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    color: var(--whiteish);
    background-color: var(--orange);
  }

  nav a:hover {
    color: var(--whiteish);
  }

  nav a:first-child {
    background-color: var(--hotpink);
  }
  nav a:nth-child(2) {
    background-color: var(--yellow);
  }

  .blog-post__img img {
    max-width: 400px;
  }
}
