html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--sans);
  margin: 0;
  padding: 0;
}

body [class*="button"]:hover {
  background-color: var(--transblack);
  cursor: pointer;
}

/* colour palette */

:root {
  --whiteish: #fffdfd;
  --mint: #e9f1df;
  --salsa: #f2385a;
  --orange: #f5a503;
  --aqua: #4ad9d9;
  --teal: #36b1bf;
  --yellow: #ffe11a;
  --limegreen: #bedb39;
  --hotpink: #ff3b77;
  --transblack: #86848490;
  --sans: "DM Sans", sans-serif;
  --cursive: Inspiration, cursive;
}

/* header & nav styling */

header {
  background-color: var(--whiteish);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--mint);
  position: sticky;
  top: 0;
}

header h1 {
  font-family: var(--cursive);
  font-size: 3rem;
  width: 300px;
  margin-left: 3rem;
}

nav a {
  padding: 10px;
}

/* signup section */

.email-signup {
  padding: 2rem;
  background-color: var(--mint);
  text-align: center;
}

input {
  width: 300px;
  margin: 1rem;
}

.email-signup__button {
  display: block;
  margin: 0px auto;
  padding: 0.5rem 2rem;
  background-color: var(--mint);
  border: 2px solid var(--whiteish);
  border-radius: 20px;
}

/* activities-locations */

.activities-locations {
  text-align: center;
  padding: 2rem 4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 2rem;
}

.location-button {
  padding: 1rem 3rem;
  border-radius: 20px;
  border: 2px solid var(--whiteish);
  color: var(--whiteish);
  font-size: 1.5rem;
  font-weight: bolder;
}

.button-0 {
  background-color: var(--aqua);
}
.button-1 {
  background-color: var(--orange);
}
.button-2 {
  background-color: var(--salsa);
}
.button-3 {
  background-color: var(--teal);
}
.button-4 {
  background-color: var(--limegreen);
}
.button-5 {
  background-color: var(--yellow);
}

.location-button:hover {
  background-color: var(--transblack);
  cursor: pointer;
}

/* featured activities */

.featured-activities {
  background-color: var(--teal);
  padding: 4rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.featured-activities {
  color: var(--whiteish);
}

.featured-activities h2 {
  font-size: 3rem;
}

.featured-activities__blog-post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 70%;
}

.blog-post__text {
  padding: 1rem;
  font-size: 120%;
}

.blog-post__img {
  padding: 20px;
}

.blog-post__img img {
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px var(--transblack);
}

/* footer */

footer {
  text-align: center;
  margin-bottom: 4rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  padding: 0.5rem;
}

footer [class*="fa-"] {
  font-size: 200%;
  color: var(--teal);
}

.icon-container {
  margin: 0px auto;
}
